################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FakeLoader/v14
/FakeLoader/bin/Debug
/FakeLoader/obj/Debug
/FakeLoaderTest/bin/Debug
/FakeLoaderTest/obj/Debug
